.idea/*
pyUI/.idea/*
pyUI/logfile*
pyUI/genApp4Mac/*
pyUI/genApp4Win/*
pyUI/lib/*
*.DS_Store
*.pyc
pyUI/defaultConfig.txt
pyUI/README.txt
pyUI/README_Mac.txt
pyUI/README_Windows.txt
pyUI/PetoiDesktopApp/*
*.cfg
*.svd
ModuleTests/testDoubleLight/debug_custom.json
ModuleTests/testDoubleAnalog/debug_custom.json
ModuleTests/testVoiceCommander/debug_custom.json
ModuleTests/testI2cDevice/debug_custom.json
.vscode/*
pyUI/README.txt
pyUI/README_Mac.txt
pyUI/README_Windows.txt
serialMaster/logfile.log
.cursor/*
